In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Video_Games.csv')

In [4]:
df.info

<bound method DataFrame.info of                                 Name Platform  Year_of_Release         Genre  \
0                         Wii Sports      Wii           2006.0        Sports
1                  Super Mario Bros.      NES           1985.0      Platform
2                     Mario Kart Wii      Wii           2008.0        Racing
3                  Wii Sports Resort      Wii           2009.0        Sports
4           Pokemon Red/Pokemon Blue       GB           1996.0  Role-Playing
...                              ...      ...              ...           ...
16714  Samurai Warriors: Sanada Maru      PS3           2016.0        Action
16715               LMA Manager 2007     X360           2006.0        Sports
16716        Haitaka no Psychedelica      PSV           2016.0     Adventure
16717               Spirits & Spells      GBA           2003.0      Platform
16718            Winning Post 8 2016      PSV           2016.0    Simulation

          Publisher  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales  \
0          Nintendo     41.36     28.96      3.77         8.45         82.53
1          Nintendo     29.08      3.58      6.81         0.77         40.24
2          Nintendo     15.68     12.76      3.79         3.29         35.52
3          Nintendo     15.61     10.93      3.28         2.95         32.77
4          Nintendo     11.27      8.89     10.22         1.00         31.37
...             ...       ...       ...       ...          ...           ...
16714    Tecmo Koei      0.00      0.00      0.01         0.00          0.01
16715   Codemasters      0.00      0.01      0.00         0.00          0.01
16716  Idea Factory      0.00      0.00      0.01         0.00          0.01
16717       Wanadoo      0.01      0.00      0.00         0.00          0.01
16718    Tecmo Koei      0.00      0.00      0.01         0.00          0.01

       Critic_Score  Critic_Count User_Score  User_Count Developer Rating
0              76.0          51.0          8       322.0  Nintendo      E
1               NaN           NaN        NaN         NaN       NaN    NaN
2              82.0          73.0        8.3       709.0  Nintendo      E
3              80.0          73.0          8       192.0  Nintendo      E
4               NaN           NaN        NaN         NaN       NaN    NaN
...             ...           ...        ...         ...       ...    ...
16714           NaN           NaN        NaN         NaN       NaN    NaN
16715           NaN           NaN        NaN         NaN       NaN    NaN
16716           NaN           NaN        NaN         NaN       NaN    NaN
16717           NaN           NaN        NaN         NaN       NaN    NaN
16718           NaN           NaN        NaN         NaN       NaN    NaN

[16719 rows x 16 columns]>

In [26]:
df.loc[(df['Year_of_Release'] == 2014) & (df['Platform'] == 'PS4'), ['Name','NA_Sales','EU_Sales','JP_Sales','Other_Sales']].max()

Name           inFAMOUS: Second Son
NA_Sales                       3.96
EU_Sales                       6.31
JP_Sales                       0.38
Other_Sales                    1.97
dtype: object

Данный анализ показывает, что в 2014 году на платформе PS4 самой продаваемой игрой в Европе была inFAMOUS: Second Son

In [64]:
new_df = df.loc[(df['Year_of_Release'] == 2015) & (df['Platform'] == 'PS4') & (df['NA_Sales'] >2), ['Name','NA_Sales']]

In [88]:
new_df

                                       Name  NA_Sales
31                Call of Duty: Black Ops 3      6.03
87             Star Wars Battlefront (2015)      2.99
105                               Fallout 4      2.53
231  Uncharted: The Nathan Drake Collection      2.07
314                                NBA 2K16      2.49
420                           Madden NFL 16      2.34

Данный анализ показывает топ продаваемых игр на PS4 в США с рейтингом продаж выше 2млн копий